[submodule "thirdparty/elle"]
	path = thirdparty/elle
	url = https://github.com/infinit/elle
[submodule "thirdparty/rapidjson"]
	path = thirdparty/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "thirdparty/CTPL"]
	path = thirdparty/CTPL
	url = https://github.com/vit-vit/CTPL
